@import "../App.scss";

.profile {
  min-height: calc(100vh - 6rem);
  margin: 0;
  margin-top: 3rem;
  padding: 2rem;
  color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &.light {
    background: linear-gradient($secondary, $secondaryLight);
    color: $primaryDark;

    .profile-user-info {
      > button {
        background-color: $secondaryLight;
        color: $primaryDark;

        &:hover {
          background-color: darken($secondaryLight, 10%);
        }
      }
    }

    .dialogue {
      .profile-edit {
        .form {
          fieldset {
            border: 1px solid $primary;
            legend {
              color: $primaryDark;
            }
            .edit-inputBox {
              input {
                color: $primary;
                border-color: $secondaryDark;
                &:focus,
                &:valid {
                  border-color: $secondaryDark;
                }
              }
              label {
                color: $secondaryDark;
              }
            }
          }
        }
      }
    }

    .profile-user-posts-container{
      .profile-user-posts-header{
        border-bottom: 1px solid $primary;
        >button{
          color: $primaryDark;
          &:hover{
            color: lighten($primaryDark, $amount: 20%);
          }
          &.active{
            color: lighten($primaryDark, $amount: 40%);
            border-bottom: 2px solid $secondaryDark;
          }
        }
      }
      .profile-user-posts{
        background-color: white;
      }
    }
  }

  .profile-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 5rem;

    >img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background-color: teal;
      object-fit: cover;
    }

    >h3 {
      font-size: 2rem;
      font-weight: 500;
    }

    >button {
      border: none;
      color: white;
      font-size: 0.8rem;
      background-color: $primaryLight;
      border-radius: 1rem;
      padding: 0.4rem 0.8rem;
      cursor: pointer;

      &:hover {
        background-color: darken($primaryLight, 10%);
      }
    }
  }

  .dialogue {
    position: relative;
    .profile-edit {
      position: relative;
      width: 100%;
      max-height: 30rem;
      overflow-y: scroll;

      .form {
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1rem;

        fieldset {
          border: 1px solid whitesmoke;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          position: relative;
          padding: 2rem 1rem;

          legend {
            text-align: left;
            padding: 0 0.5rem;
            font-size: 0.8rem;
            font-weight: 800;
          }

          .edit-avatar {
            position: relative;
            margin: 0 auto 2rem;

            >label {
              &:hover{
                cursor: pointer;
                >span{
                  opacity: 1;
                }
              }

              >span{
                position: absolute;
                top: 0;
                left: 0;
                height: 5rem;
                width: 5rem; 
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: rgba(0,0,0,0.5);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                z-index: 10;
              }
              img {
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                background-color: teal;
                object-fit: cover;
              }
            }
          }

          .edit-inputBox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;

            input {
              width: 100%;
              padding: 12px 0 4px 0;
              font-size: 0.9rem;
              background: transparent;
              border: none;
              border-bottom: 2px solid #999;
              outline: none;
              color: #fff;
              letter-spacing: 0.05rem;
              transition: all 0.5s ease-in-out;

              &:focus~label span,
              &:valid~label span {
                transform: translateY(-20px);
                font-size: 0.8rem;
                font-weight: 600;
                color: $secondaryLight;
              }

              &:focus,
              &:valid {
                border-color: $secondaryLight;
              }
            }

            label {
              position: absolute;
              left: 0;
              letter-spacing: 0.1rem;
              padding: 10px 0;
              font-size: 0.8rem;
              color: rgba(255, 255, 255, 0.8);
              pointer-events: none;
              transition: 0.5s;

              span {
                position: relative;
                display: inline-flex;
                letter-spacing: 0.05rem;
                transition: 0.2s ease-in-out;
              }
            }
          }

          .edit-btns{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 2rem;
          }
        }
      }
    }
  }

  .profile-user-posts-container {
    width: 100%;

    @media (min-width: $breakpoint) {
      width: 70%;
    }

    .profile-user-posts-header {
      height: 3rem;
      width: 100%;
      border-bottom: 1px solid whitesmoke;
      padding: 0;
      display: flex;

      >button {
        border: none;
        margin: 0;
        background-color: transparent;
        color: whitesmoke;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: darken($secondaryLight, 10%);
        }

        &.active {
          color: darken($secondaryLight, 20%);
          border-bottom: 2px solid $secondary;
        }
      }
    }

    .profile-user-posts {
      padding: 0;
      background-color: $primary;
      border-radius: 1rem;
    }
  }
}